# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

/vscode
/doc
.editorconfig
.gitattributes
.htaccess
404
browserconfig
calendario
conferencia
html5-boilerplate_v7.3.0
humans
icon
invitados
license
original
robots
site.webmanifest
tile
tile-wide